body {
    padding: 3px;
  }
  
  #header {
    background-color: gray;
    text-align: center;
    padding: 10px;
    color: white;
    height: 40px;
    line-height: 40px;
  }
  
  #banner {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    height: 100vh;
    color: white;
    line-height: 100vh;
  }
  
  #section1,
  #section2,
  #section3,
  #section4 {
    text-align: center;
  }
  
  .circle {
    display: inline-block;
    background-color: orange;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 0px 20px;
  }
  
  #left-content {
    float: left;
    width: 50%;
    background-color: gray;
    height: 45vh;
    line-height: 45vh;
    color: white;
  }
  
  .articles {
    width: 100%;
    height: 14vh;
    background-color: cadetblue;
    line-height: 14vh;
  }
  
  #article-1,
  #article-2 {
    margin-bottom: 1.5vh;
  }
  
  #footer {
    padding: 10px;
    background-color: pink;
    color: white;
    height: 40px;
    line-height: 40px;
  }
  
  .article {
    float: right;
    width: 49%;
    height: 45vh;
    color: white;
  }
  
  .box {
    background-color: orange;
    width: 49%;
    height: 40vh;
    margin: 2px;
  }
  
  #box-1 {
    /* margin: 2px; */
    float: left;
    width: 50%;
  }
  #box-2 {
    float: right;
    width: 50%;
  }
  
  #box-11,
  #box-21 {
    float: left;
  }
  
  #box-12,
  #box-22 {
    float: right;
  }